<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>Example If/Unless </title>
</head>
<body>
<div >
    <h1>for 循环</h1>
    <table>
        <tr th:each="userEntry,userStat:${users}">
            <td th:text="${userStat.index}"></td>
            <td th:text="${userEntry.key}"></td>
            <td th:text="${userEntry.value.name}"></td>
            <td th:text="${userEntry.value.age}"></td>
            <td th:text="${userEntry.value.pass}"></td>
        </tr>
    </table>
</div>
</body>
</html>