<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>Example String </title>
</head>
<body>
    <div >
        <h1>text</h1>
        <p th:text="${userName}">test</p>
        <p>[[${userName}]]</p>
        <span th:text="'Welc24ome to our application, ' + ${userName} + '!'"></span>
        <br/>
        <span th:text="|Welcome to our application, ${userName}|"></span>
    </div>
</body>
<script th:inline="javascript">
    var userName = [[${userName}]];
    var ctxPath = [[${#request.getContextPath()}]];
</script>
</html>